In [140]:
import pandas as pd
import numpy as np

In [141]:
csv_path = ("Resources/purchase_data.csv")
df = pd.read_csv(csv_path)
df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [142]:
df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [143]:
max_price = df[df.Price>=1.61]
max_price.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18

In [144]:
df[df.Price==df.Price.max()]

     Purchase ID        SN  Age Gender  Item ID       Item Name  Price
189          189  Hiasri33   23   Male       63  Stormfury Mace   4.99
554          554  Dyally87   22   Male       63  Stormfury Mace   4.99

In [145]:
df['SN'][df.Price==df.Price.max()]

189    Hiasri33
554    Dyally87
Name: SN, dtype: object

In [198]:
players = pd.unique(df.SN)
len(players)

576

In [147]:
uniqueItems = pd.unique(df['Item ID'])
len(uniqueItems)

183

In [148]:
avgPrice = df.Price.mean()
avgPrice

3.050987179487176

In [202]:
numberPurch = len(df['Price'])
numberPurch

780

In [150]:
totalRev = df.Price.sum()
totalRev

2379.77

In [206]:
pd.DataFrame({'Unique Items' : uniqueItems,
             'Average Price' : avgPrice,
             'Number of Purchases' : numberPurch,
              'Total Revenue' : totalRev
             }).head(1)

   Unique Items  Average Price  Number of Purchases  Total Revenue
0           108       3.050987                  780        2379.77

In [151]:
#Gender Demographics
#df.groupby(df["Gender"]).count()
#totMale = df.loc[:, 'Gender'].count('Male')
totMale = df.loc[df.Gender=='Male', 'Gender'].count()
totFem = df.loc[df.Gender=='Female', 'Gender'].count()
totOther = df.loc[df.Gender=='Other / Non-Disclosed', 'Gender'].count()
totPop = df.Gender.count()
genderDemo = ({
    'Total Count' : [ totMale, totFem, totOther],
    'Percentage of Players' : [totMale/totPop, totFem/totPop, totOther/totPop]
})
Frame = pd.DataFrame(genderDemo)
Frame.rename({0: 'Male', 1: 'Female', 2: 'Other / Non-Disclosed'})

                       Total Count  Percentage of Players
Male                           652               0.835897
Female                         113               0.144872
Other / Non-Disclosed           15               0.019231

In [208]:
#Purchasing Analysis (Gender)
#Male purchase analysis
countMalePurch = df.loc[df.Gender=='Male', 'Price'].count()
totMalePurch = df.loc[df.Gender=='Male', 'Price'].sum()
#maleAvg = df.groupby(['SN' , 'Gender'], as_index=False).Price.mean()

#players = pd.unique(df.SN.head(30))
#Female purchase analysis
countFemPurch = df.loc[df.Gender=='Female', 'Price'].count()
totFemPurch = df.loc[df.Gender=='Female', 'Price'].sum()
#femAvg = df.groupby(['SN' , 'Gender'], as_index=False).Price.mean()

#Other/non-disclosed analysis
countOtherPurch = df.loc[df.Gender=='Other / Non-Disclosed', 'Price'].count()
totOtherPurch = df.loc[df.Gender=='Other / Non-Disclosed', 'Price'].sum()
#otherAvg = df.groupby(['SN' , 'Gender'], as_index=False).Price.mean()

genderPurch = ({
    'Purchase Count' : ['',countFemPurch, countMalePurch, countOtherPurch],
    'Average Purchase Price' : ['',totFemPurch/totFem, totMalePurch/totMale, totOtherPurch/totOther],
    'Total Purchase Price' : ['',totFemPurch, totMalePurch, totOtherPurch],
    #'Avg Total Purchase Per Person' : ['',femAvg, maleAvg, otherAvg]
})
Frame2 = pd.DataFrame(genderPurch)
Frame2.rename({0: 'Gender', 1: 'Female', 2: 'Male', 3:'Other / Non-Disclosed'})

,Purchase Count,Average Purchase Price,Total Purchase Price
Gender,,,
Female,113,3.20301,361.94
Male,652,3.01785,1967.64
Other / Non-Disclosed,15,3.346,50.19

In [153]:
# Age Demographics

bins = [0, 9, 14, 19, 24, 29, 34, 39, 40]
groupNames = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
#df['Total Count'] = df.groupby(pd.cut(df.Age, bins=bins, labels=groupNames))

df['Age Brackets'] = pd.cut(df['Age'], bins=bins, labels=groupNames)

totCountBin = df.groupby(['Age Brackets'])
print(totCountBin)
totCountBin.SN.nunique()
binCounts = totCountBin.SN.nunique()

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x0000008CD1DA3B70>

In [154]:
binCounts.sum()

569

In [155]:
percAgeUsers = binCounts / binCounts.sum() * 100

In [156]:
pd.DataFrame({"Total Count": binCounts, "Percentage of Players": percAgeUsers})

              Total Count  Percentage of Players
Age Brackets
<10                    17               2.987698
10-14                  22               3.866432
15-19                 107              18.804921
20-24                 258              45.342707
25-29                  77              13.532513
30-34                  52               9.138840
35-39                  31               5.448155
40+                     5               0.878735

In [157]:

totCountBin.SN.nunique()
binCounts = totCountBin.SN.nunique()
agePurchByBin = totCountBin.Price.sum()
agePurchCount = totCountBin['Purchase ID'].nunique() 
avgPurch = agePurchByBin / agePurchCount
avgTotPurch = agePurchByBin / binCounts
    
pd.DataFrame({'Purchase Count' : agePurchCount,
              'Average Purchase Price': avgPurch, 
              'Total Purchase Value':agePurchByBin,
              'Average Total Purchase Per Person': avgTotPurch
             })

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Age Brackets,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,6,2.785000,16.71,3.342000

In [158]:
priceGroup = df.groupby(['SN'])
purchCount = priceGroup.count()['Purchase ID']
purchTot = priceGroup.sum()['Price']
priceGroupAvg = purchTot / purchCount

bigSpenderData = pd.DataFrame({'Purchase Count' : purchCount, 
                               'Average Purchase Price' : priceGroupAvg, 
                               'Total Purchase Value' : purchTot
                              })

    
bigSpenderData.sort_values(['Total Purchase Value'], ascending=False).head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [214]:
popItemID = df.groupby(['Item ID'])
popPurchCount = popItemID.count()['Purchase ID']
popPurchTot = popItemID.sum()['Price']
#popPrice = popItemID['Price']
popPurchCount
#popPurchTot

popItemData = pd.DataFrame({'Purchase Count': popPurchCount,
                           'Total Value Purchase' : popPurchTot})




#popItemData = pd.DataFrame({'Purchase Count' : popPurchCount,
 #                           'Item Price' : popPrice,
 #                           'Total Value Purchase' : popPurchTot
  #                         })

#popItemData.sort_values(['Total Purchase Value'], ascending=False).head(5)

In [ ]:
#######Rearranging that last cell wound give me the final cell I can't see what's wrong
#######I can't get the pd.DataFrame to work for some reason